
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@include media-breakpoint-between(sm, md) {

}
.navbar{
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}
.bg-dark {
  background-color: #262f64 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

carousel-caption{
  top: 50%;
}
@include media-breakpoint-up(sm) {
  //.my-carousel{
  //  margin-top: -190px;
  //}
  //.navbar {
  //  background-color: transparent !important;
  //}
  .navbar-expand-lg .navbar-collapse {
    padding-right: 200px;}

}

//.my-nav{
//  z-index: 999;
//}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
.footer{
  background-color: #262f64;
  height: auto;
  color: white;
}
.parallax {
  /* The image used */
  background-image: url("../../public/images/nosotros/parallax_1.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-2 {
   /* The image used */
   background-image: url("../../public/images/portafolio/parallax_2.jpg");

   /* Set a specific height */
   height: 500px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
.parallax-3 {
  /* The image used */
  background-image: url("../../public/images/portafolio/parallax_3.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-4 {
  /* The image used */
  background-image: url("../../public/images/parallax_4.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dropdown-menu{
  background-color: #262f64;

  border: none;
}
html {
  position: relative;
  max-height: 100%;
}
.dropdown-item{
  color:white;
  &:hover{
    background-color: #262f64;
    color:white;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.activo_home{
  color:#d11122;
  border-bottom: 2px #d11122 solid;
}
.activo_us{
  color:#0bb7d5;
  border-bottom: 2px #0bb7d5 solid;
}
.activo_us{
  color:#0bb7d5;
  border-bottom: 2px #0bb7d5 solid;
}
.activo{
  color:#dfdfdf;
  border-bottom: 2px #dfdfdf solid;
}
.activo_line_1{
  color:#ffcf00;
  border-bottom: 2px #ffcf00 solid;
}
.activo_line_2{
  color:#77d20b;
  border-bottom: 2px #77d20b solid;
}
.activo_line_3{
  color:#d21466;
  border-bottom: 2px #d21466 solid;
}
.activo_work{
  color:#ffcf00;
  border-bottom: 2px #ffcf00 solid;
}
.activo_contact{
  color:#cc0ed7;
  border-bottom: 2px #cc0ed7 solid;
}
.form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:transparent;
  border-radius:0;
}
.btn-primary {
  color: #fff;
  background-color:#77d20b;
  border-color: #77d20b;
}
@font-face {
  font-family: 'Myrad';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('../../public/fonts/MyriadPro-Regular.ttf') format('truetype');
}
*{
  font-family: 'Myrad' !important;
}
@font-face {
  font-family: 'Aller';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('../../public/fonts/Aller_Rg.ttf') format('truetype');
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Aller' !important;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 1.1rem;
}
.form-control:focus{
  box-shadow: none;
}
.vineta{
  width: 3%;
  padding-right: 5px;
}
//ul{
//  list-style-image: url(../../public/images/rompecabeza.png);
//  width: 5px;
//}
//li{
//  background-image: url(../../public/images/nosotros/pieza_rompe.svg);
//
//  list-style: none;
//
//  background-position: left bottom;
//  background-repeat: no-repeat;
//  padding-left: -15px;
//}
li{
  list-style: none;
}
li:before{
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: url('../../public/images/nosotros/pieza_rompe.svg');
}
@font-face {
  font-family: 'icomoon';

  src:  url('../../public/fonts/icomoon.eot');
  src:  url('../../public/fonts/icomoon.eot') format('embedded-opentype'),
  url('../../public/fonts/icomoon.ttf') format('truetype'),
  url('../../public/fonts/icomoon.woff') format('woff'),
  url('../../public/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pieza_rompe:before {
  content: "\e900";
}
