
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@include media-breakpoint-between(sm, md) {

}

.bg-dark {
  background-color: #d11122 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

carousel-caption{
  top: 50%;
}
@include media-breakpoint-up(sm) {
  .my-carousel{
    margin-top: -190px;
  }
  .navbar {
    background-color: transparent !important;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-right: 200px;}

}

.my-nav{
  z-index: 999;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
.footer{
  background-color: #262f64;
  height: auto;
  color: white;
}
.parallax {
  /* The image used */
  background-image: url("../../public/images/nosotros/parallax_1.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-2 {
   /* The image used */
   background-image: url("../../public/images/portafolio/parallax_2.jpg");

   /* Set a specific height */
   height: 500px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
.parallax-3 {
  /* The image used */
  background-image: url("../../public/images/portafolio/parallax_3.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dropdown-menu{
  background-color: transparent;

  border: none;
}
.dropdown-item{
  color:white;
  &:hover{
    background-color: transparent;
    color:white;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.activo_home{
  color:#d11122;
  border-bottom: 2px #d11122 solid;
}
.activo_us{
  color:#0bb7d5;
  border-bottom: 2px #0bb7d5 solid;
}
.activo_us{
  color:#0bb7d5;
  border-bottom: 2px #0bb7d5 solid;
}
.activo{
  color:#dfdfdf;
  border-bottom: 2px #dfdfdf solid;
}
.activo_line_1{
  color:#ffcf00;
  border-bottom: 2px #ffcf00 solid;
}
.activo_line_2{
  color:#77d20b;
  border-bottom: 2px #77d20b solid;
}
.activo_line_3{
  color:#d21466;
  border-bottom: 2px #d21466 solid;
}
.activo_work{
  color:#ffcf00;
  border-bottom: 2px #ffcf00 solid;
}
.activo_contact{
  color:#cc0ed7;
  border-bottom: 2px #cc0ed7 solid;
}
.form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:transparent;
  border-radius:0;
}
.btn-primary {
  color: #fff;
  background-color:#77d20b;
  border-color: #77d20b;
}
@font-face {
  font-family: 'Myrad';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('../../public/fonts/MyriadPro-Regular.ttf') format('truetype');
}
*{
  font-family: 'Myrad' !important;
}